In [1]:
import pandas as pd
import numpy as np

In [2]:
accidents = pd.read_csv('../data/2015-2019_dataset_clusters.csv')

In [3]:
accidents.head()

,x,y,accident_id,year,address,severity,accident_type,severity_numeric,borough_geo,timestamp,date,hour,month_name,month,day,cluster_id
0,-74.105296,4.509792,4437952,2016,CL 80A-KR 1 SE 02,Injury,Crash,8,USME,2016-02-27 16:20:00+00:00,2016-02-27,16,Feb,2,Sat,0
1,-74.167225,4.631051,4472304,2017,AV AVENIDA CIUDAD DE CALI-CL 42 S 02,Injury,Run over,9,KENNEDY,2017-02-09 16:45:00+00:00,2017-02-09,16,Feb,2,Thu,1
2,-74.121790,4.603106,4512837,2018,AV AVENIDA PRIMERA DE MAYO-KR 50A 14,Injury,Crash,8,PUENTE ARANDA,2018-03-25 12:10:00+00:00,2018-03-25,12,Mar,3,Sun,1
3,-74.075332,4.607944,4437462,2016,KR 13-CL 18 02,Injury,Crash,8,SANTA FE,2016-02-22 08:55:00+00:00,2016-02-22,8,Feb,2,Mon,1
4,-74.064965,4.744182,4473374,2017,AV AVENIDA BOYACA-CL 160 02,Injury,Run over,9,SUBA,2017-02-19 13:00:00+00:00,2017-02-19,13,Feb,2,Sun,2

In [4]:
df_positive_2018 = accidents[pd.to_datetime(accidents.date).dt.year == 2018]

In [5]:
df_positive = df_positive_2018[['x','y','date','hour', 'borough_geo', 'address', 'cluster_id']].copy()

In [6]:
df_positive.date = pd.to_datetime(df_positive.date)

In [7]:
df_positive['day_of_year'] = df_positive.date.dt.dayofyear

In [8]:
df_positive['coords'] = df_positive[['x', 'y']].apply(lambda x: ';'.join((str(x['x']), str(x['y']))), axis = 1)

In [9]:
df_positive = df_positive[['hour', 'day_of_year','borough_geo', 'coords', 'address', 'cluster_id']].copy()

In [10]:
df_positive.head(2)

,hour,day_of_year,borough_geo,coords,address,cluster_id
2,12,84,PUENTE ARANDA,-74.12178986799995;4.6031063950000535,AV AVENIDA PRIMERA DE MAYO-KR 50A 14,1
9,7,44,BOSA,-74.17893912999993;4.62416029700006,KR 86-CL 53 S 2,1

In [11]:
df_positive = df_positive.reset_index(drop=True)

In [12]:
def generate_negative_sample(row):
    num_samples = 0
    while num_samples < 1:
        randcol = np.random.choice(np.array(['hour', 'day_of_year', 'coords']))
        replacement = df_positive.sample()
        negative_sample = row
        negative_sample[randcol] = replacement[randcol].values[0]
        if randcol == 'coords':
            negative_sample['borough_geo'] = replacement['borough_geo'].values[0]
            negative_sample['address']  = replacement['address'].values[0]
            negative_sample['cluster_id']  = replacement['cluster_id'].values[0]

        ncoords = negative_sample['coords']
        nhour = negative_sample['hour']
        nday = negative_sample['day_of_year']
        
        if df_positive.loc[(df_positive['coords'] == ncoords) & (df_positive['hour'] == nhour) & (df_positive['day_of_year'] == nday)].empty:
            yield negative_sample[['hour', 'day_of_year','coords','address', 'borough_geo', 'cluster_id']].values.tolist()
            num_samples += 1
        else:
            print('found coincidence', negative_sample[['hour', 'day_of_year','coords']].values.tolist())

In [13]:
my_list = [generate_negative_sample(df_positive.iloc[x]) for x in df_positive.index]

In [14]:
%%time
from itertools import chain
neg_list = list(chain.from_iterable(my_list))

']
found coincidence [19, 16, '-74.10164187099997;4.69244135200006']
found coincidence [9, 98, '-74.06668429999998;4.71029513000002']
found coincidence [19, 52, '-74.12278393899999;4.558443448000048']
found coincidence [7, 111, '-74.09369859599997;4.688895240000021']
found coincidence [22, 30, '-74.19036733899995;4.622555699000031']
found coincidence [7, 163, '-74.09562420699997;4.650374386000067']
found coincidence [20, 110, '-74.10881555199995;4.669605164000076']
found coincidence [6, 26, '-74.11672821099995;4.686298769000075']
found coincidence [12, 147, '-74.10036860699995;4.703752692000024']
found coincidence [12, 69, '-74.04039635;4.689502100000027']
found coincidence [8, 82, '-74.10290485999997;4.6908317500000285']
found coincidence [12, 24, '-74.10378029599997;4.600985306000041']
found coincidence [17, 146, '-74.10225851199993;4.669959096000071']
found coincidence [15, 3, '-74.11021922499998;4.619483583000034']
found coincidence [15, 113, '-74.07772209699993;4.665658441000062']
found coincidence [9, 44, '-74.11538788199994;4.688802246000024']
found coincidence [18, 138, '-74.10086885699997;4.597489808000034']
found coincidence [16, 95, '-74.11280732899995;4.654889157000071']
found coincidence [17, 142, '-74.13593862799998;4.6394633840000665']
found coincidence [17, 97, '-74.06754306599998;4.632573471000057']
found coincidence [11, 123, '-74.11264100399995;4.619196837000061']
found coincidence [16, 161, '-74.11437812299994;4.506071766000048']
found coincidence [11, 64, '-74.06548923999998;4.750846790000026']
found coincidence [11, 142, '-74.05533914499993;4.698262109000041']
found coincidence [18, 134, '-74.08997376799994;4.753601779000063']
found coincidence [9, 66, '-74.05420195999993;4.697496450000076']
found coincidence [12, 64, '-74.07237958999998;4.6511081100000515']
found coincidence [9, 114, '-74.14083738399995;4.6260475490000195']
found coincidence [13, 104, '-74.09578790499995;4.601959147000059']
found coincidence [9, 137, '-74.07999665499993;4.712253166000039']
found coincidence [12, 87, '-74.10084414799998;4.6272031110000285']
found coincidence [10, 74, '-74.10296200999993;4.624012980000032']
found coincidence [18, 166, '-74.041611328;4.696218705000035']
found coincidence [7, 74, '-74.11780889999993;4.628324350000072']
found coincidence [15, 71, '-74.03441587999998;4.694229990000053']
found coincidence [6, 141, '-74.08287051799994;4.6243761770000456']
found coincidence [12, 213, '-74.05562694399998;4.689436362000038']
found coincidence [19, 156, '-74.06578789199995;4.598673922000046']
found coincidence [15, 76, '-74.07327846999993;4.6957561900000515']
found coincidence [9, 29, '-74.09437660699997;4.679810800000041']
found coincidence [8, 351, '-74.12650136899998;4.6491371280000635']
found coincidence [20, 217, '-74.17056456999995;4.6139459370000395']
found coincidence [17, 72, '-74.08070108699997;4.6279522330000304']
found coincidence [8, 352, '-74.08156458099995;4.60109010900004']
found coincidence [6, 328, '-74.06402155799998;4.660842916000036']
found coincidence [13, 359, '-74.06098032599994;4.641028493000022']
found coincidence [19, 271, '-74.12063294199999;4.575527558000034']
found coincidence [16, 206, '-74.15151004599994;4.6691963040000255']
found coincidence [12, 270, '-74.13596262299995;4.659560401000022']
found coincidence [17, 226, '-74.03945298899998;4.791883159000065']
found coincidence [8, 243, '-74.15103822799993;4.5954202900000505']
found coincidence [10, 6, '-74.12874211099995;4.5846435900000415']
found coincidence [5, 351, '-74.13008162399994;4.607126565000044']
found coincidence [9, 221, '-74.06882053199999;4.651474269000062']
found coincidence [17, 210, '-74.10211241099995;4.736869067000042']
found coincidence [11, 306, '-74.04217206399994;4.775209266000047']
found coincidence [17, 306, '-74.07927785999993;4.652189225000028']
found coincidence [6, 246, '-74.08896155499998;4.57069726900005']
found coincidence [16, 212, '-74.063630258;4.636715811000045']
found coincidence [13, 211, '-74.13625277699998;4.597835982000049']
found coincidence [15, 206, '-74.13900013499993;4.560268966000024']
found coincidence [16, 208, '-74.14255565399995;4.580380483000057']
found coincidence [17, 359, '-74.133978487;4.575468088000036']
found coincidence [15, 222, '-74.14042134899995;4.663840249000032']
found coincidence [10, 334, '-74.08132764799996;4.569776856000033']
found coincidence [8, 334, '-74.065692169;4.675128734000054']
found coincidence [8, 323, '-74.12966576399998;4.6084061930000635']
found coincidence [16, 322, '-74.08657377699996;4.586930596000059']
found coincidence [20, 320, '-74.15798455199997;4.5817233490000735']
found coincidence [9, 352, '-74.08894618199997;4.614948944000048']
found coincidence [12, 349, '-74.08673371599998;4.598483601000054']
found coincidence [12, 225, '-74.12699593199994;4.561009054000067']
found coincidence [12, 351, '-74.11319482899995;4.594063362000043']
found coincidence [13, 349, '-74.08958480099994;4.616795465000052']
found coincidence [9, 223, '-74.09672811199994;4.547787303000064']
found coincidence [15, 218, '-74.07037396699997;4.718681220000065']
found coincidence [11, 293, '-74.10263395799996;4.644970543000057']
found coincidence [14, 212, '-74.09586640299993;4.602019014000064']
found coincidence [22, 277, '-74.08880773399994;4.591874825000048']
found coincidence [13, 262, '-74.09529073099996;4.585103841000034']
found coincidence [17, 209, '-74.14218907799993;4.580424573000073']
found coincidence [7, 323, '-74.13982277299993;4.656028221000042']
found coincidence [23, 218, '-74.15214016099996;4.622960255000066']
found coincidence [21, 306, '-74.09288649999998;4.717141014000049']
found coincidence [20, 225, '-74.18429659599997;4.6064101470000764']
found coincidence [17, 223, '-74.07761275699994;4.657923629000038']
found coincidence [7, 337, '-74.09338924999997;4.612373357000024']
found coincidence [19, 224, '-74.11786455999999;4.499204158000055']
found coincidence [7, 262, '-74.13538139999997;4.543496319000042']
found coincidence [17, 337, '-74.07799204299994;4.684734632000072']
found coincidence [13, 225, '-74.04610269599993;4.72977725100003']
found coincidence [11, 227, '-74.08899629299998;4.599755253000068']
found coincidence [13, 240, '-74.15434394699997;4.6786732690000585']
found coincidence [15, 322, '-74.06569024099997;4.599455761000058']
found coincidence [19, 59, '-74.06343773999998;4.676471940000057']
found coincidence [8, 278, '-74.16710759999995;4.630896440000072']
found coincidence [8, 31, '-74.14488079999995;4.609174300000063']
found coincidence [17, 228, '-74.12072295999997;4.645046639000043']
found coincidence [5, 148, '-74.12272629999995;4.57763267200005']
found coincidence [20, 135, '-74.16442759499995;4.5960600380000765']
found coincidence [7, 158, '-74.09241849599994;4.690713290000076']
found coincidence [14, 106, '-74.07182727899993;4.654222481000033']
found coincidence [13, 81, '-74.09582956;4.641174910000075']
found coincidence [19, 35, '-74.10282193499995;4.595159075000026']
found coincidence [13, 81, '-74.04327460999998;4.682709060000036']
found coincidence [21, 131, '-74.16139558199995;4.608169554000028']
found coincidence [7, 226, '-74.10282972399995;4.645084643000075']
found coincidence [17, 158, '-74.09433758399997;4.6486858850000194']
found coincidence [6, 40, '-74.11963634299997;4.526933644000053']
found coincidence [22, 238, '-74.09182764799993;4.614317606000043']
found coincidence [11, 70, '-74.10539460999998;4.599657730000047']
found coincidence [8, 95, '-74.15645129999997;4.696501900000044']
found coincidence [7, 51, '-74.06397691999997;4.6386276030000335']
found coincidence [18, 335, '-74.10045885199997;4.600881672000072']
found coincidence [17, 333, '-74.12540496099997;4.672065750000058']
found coincidence [9, 218, '-74.12045807999993;4.656530785000029']
found coincidence [18, 259, '-74.14130549599997;4.610763156000076']
found coincidence [20, 345, '-74.06424092499998;4.7372988240000495']
found coincidence [15, 317, '-74.15515073499995;4.576454829000056']
found coincidence [7, 114, '-74.07556947599994;4.730674893000071']
found coincidence [19, 202, '-74.14612095099994;4.665963260000068']
found coincidence [6, 264, '-74.14234259499993;4.606080466000037']
found coincidence [13, 310, '-74.04714131299994;4.750262572000054']
found coincidence [13, 343, '-74.12797971199996;4.669076709000024']
found coincidence [9, 185, '-74.13547057999993;4.659001695000029']
found coincidence [7, 335, '-74.05835480799993;4.653955120000036']
found coincidence [20, 335, '-74.07927731499996;4.686131062000072']
found coincidence [11, 314, '-74.04507601899995;4.668690772000048']
found coincidence [11, 314, '-74.04507601899995;4.668690772000048']
found coincidence [7, 319, '-74.04322133899994;4.7162216320000425']
found coincidence [5, 93, '-74.01855528899995;4.735530182000048']
found coincidence [10, 137, '-74.10353605799997;4.677300118000061']
found coincidence [7, 55, '-74.05172309999993;4.719009580000034']
found coincidence [13, 134, '-74.12412607999991;4.651567210000052']
found coincidence [14, 165, '-74.09115244999998;4.561930626000049']
found coincidence [8, 135, '-74.12077982499993;4.7220064170000455']
found coincidence [14, 27, '-74.126316004;4.617734289000055']
found coincidence [15, 18, '-74.07472959699999;4.605199700000072']
found coincidence [20, 13, '-74.10827036799998;4.692242774000022']
found coincidence [18, 98, '-74.11263268999993;4.72236692000007']
found coincidence [12, 62, '-74.04981897999993;4.654530440000031']
found coincidence [18, 104, '-74.06186963999993;4.630527591000033']
found coincidence [8, 111, '-74.13763803299997;4.584429324000041']
found coincidence [15, 57, '-74.12078417999999;4.603621070000031']
found coincidence [12, 71, '-74.13818381999994;4.565581470000041']
found coincidence [10, 39, '-74.04752460799993;4.684975561000043']
found coincidence [11, 118, '-74.10606913499998;4.618623758000068']
found coincidence [17, 74, '-74.18345620999997;4.607068620000063']
found coincidence [12, 306, '-74.12466371699999;4.646759962000033']
found coincidence [18, 348, '-74.13379397399994;4.625408113000049']
found coincidence [19, 347, '-74.05644147099997;4.718487823000032']
found coincidence [14, 53, '-74.09338924999997;4.612373357000024']
found coincidence [19, 312, '-74.08459724099998;4.623156829000038']
found coincidence [18, 30, '-74.06981990499997;4.638031681000029']
found coincidence [9, 267, '-74.05987311299998;4.6979575300000525']
found coincidence [18, 345, '-74.05647283399995;4.6847690390000585']
found coincidence [17, 345, '-74.04079930699999;4.723538547000032']
found coincidence [17, 17, '-74.05908152099995;4.650014633000068']
found coincidence [8, 312, '-74.17110213399997;4.628118350000022']
found coincidence [20, 311, '-74.10391732899996;4.565506856000071']
found coincidence [8, 228, '-74.06455839999995;4.7282917200000725']
found coincidence [12, 283, '-74.07206225099996;4.640925002000074']
found coincidence [21, 358, '-74.16593290199995;4.621054638000032']
found coincidence [13, 354, '-74.15618762499997;4.578058142000032']
found coincidence [13, 342, '-74.08367956199999;4.624881862000052']
found coincidence [8, 61, '-74.07553307999996;4.6101699100000255']
found coincidence [9, 72, '-74.09389842;4.606398200000059']
found coincidence [7, 246, '-74.13429262399995;4.630422467000074']
found coincidence [10, 257, '-74.10636495899995;4.627423752000027']
found coincidence [10, 313, '-74.07422567999998;4.58658702300005']
found coincidence [11, 353, '-74.09130619099993;4.600327937000031']
found coincidence [15, 315, '-74.16155146299997;4.685445548000075']
found coincidence [12, 292, '-74.10699668699993;4.6519189340000375']
found coincidence [6, 234, '-74.10045367999999;4.732758347000072']
found coincidence [5, 235, '-74.06423441999993;4.631528305000074']
found coincidence [21, 234, '-74.08928347299997;4.625507558000038']
found coincidence [17, 293, '-74.10083302599996;4.568672910000032']
found coincidence [19, 291, '-74.08917451699995;4.629364130000057']
found coincidence [19, 230, '-74.03999437999995;4.789001227000028']
found coincidence [7, 338, '-74.12705630999993;4.563266137000029']
found coincidence [6, 250, '-74.06622341699995;4.603163455000072']
found coincidence [19, 352, '-74.05204021099996;4.686083912000072']
found coincidence [7, 354, '-74.08470686699997;4.754731072000027']
found coincidence [16, 231, '-74.04672689299997;4.7515161360000215']
found coincidence [15, 232, '-74.18811066299997;4.616455931000076']
found coincidence [15, 341, '-74.119617609;4.628937390000034']
found coincidence [13, 350, '-74.10689463799997;4.6275309930000486']
found coincidence [15, 352, '-74.15013368699994;4.627625310000042']
found coincidence [16, 232, '-74.05521537399994;4.682903783000028']
found coincidence [12, 355, '-74.12659381099995;4.581937480000022']
found coincidence [10, 355, '-74.13047645299997;4.666144847000055']
found coincidence [4, 321, '-74.08754322599998;4.619468269000038']
found coincidence [21, 323, '-74.18412704499997;4.609772961000033']
found coincidence [16, 281, '-74.10054202199996;4.603442270000073']
found coincidence [11, 292, '-74.07431443599995;4.639816308000036']
found coincidence [12, 267, '-74.13363493199995;4.66182778700005']
found coincidence [15, 227, '-74.09381808399995;4.62551402500003']
found coincidence [11, 356, '-74.09038712999995;4.6108003070000345']
found coincidence [17, 284, '-74.07921555999997;4.636019938000062']
found coincidence [6, 234, '-74.03909730599996;4.797559749000072']
found coincidence [22, 361, '-74.17880719299995;4.626751322000075']
found coincidence [6, 204, '-74.15374351;4.617008521000058']
found coincidence [16, 147, '-74.14232439599994;4.58052133700005']
found coincidence [6, 270, '-74.10131602499995;4.60710318200006']
found coincidence [20, 343, '-74.14639546599993;4.631278844000065']
found coincidence [11, 325, '-74.02900747599993;4.699612218000028']
found coincidence [14, 324, '-74.067171708;4.613017926000055']
found coincidence [11, 282, '-74.12269429699995;4.745770361000041']
found coincidence [23, 337, '-74.13497074899993;4.5945801010000755']
found coincidence [16, 220, '-74.10613310699993;4.627368374000072']
found coincidence [18, 290, '-74.11210278699998;4.655418889000032']
found coincidence [10, 318, '-74.07514891299998;4.666036624000071']
found coincidence [12, 318, '-74.17752522499995;4.629175516000032']
found coincidence [16, 318, '-74.13226315099996;4.5760632610000584']
found coincidence [19, 340, '-74.06426172499994;4.661004840000032']
found coincidence [14, 325, '-74.11185511199994;4.609418369000025']
found coincidence [15, 358, '-74.0614808;4.66688739600005']
found coincidence [22, 352, '-74.12835732699995;4.574610316000076']
found coincidence [5, 356, '-74.13927399499994;4.583141319000049']
found coincidence [7, 364, '-74.04697964799993;4.747302116000071']
found coincidence [20, 349, '-74.07030755799997;4.620459786000026']
found coincidence [13, 349, '-74.06616664999996;4.640453689000027']
found coincidence [12, 358, '-74.13756803199995;4.6306256510000585']
found coincidence [15, 357, '-74.13975754099994;4.618672273000072']
found coincidence [16, 365, '-74.10516172399997;4.584555524000051']
found coincidence [16, 295, '-74.125259182;4.648800513000026']
found coincidence [21, 342, '-74.14270529099997;4.5666238370000665']
found coincidence [6, 346, '-74.08331886199994;4.680337458000054']
found coincidence [6, 346, '-74.08331886199994;4.680337458000054']
found coincidence [15, 264, '-74.11763908099994;4.587693520000073']
found coincidence [10, 354, '-74.05814210499993;4.650709642000038']
found coincidence [20, 293, '-74.11052021299997;4.708561151000026']
found coincidence [15, 329, '-74.04300879599998;4.7503791980000765']
found coincidence [7, 331, '-74.054771197;4.699325041000066']
found coincidence [9, 306, '-74.11245016399994;4.594541725000057']
found coincidence [22, 234, '-74.10264467999998;4.581234466000068']
found coincidence [7, 263, '-74.11977794399995;4.67849497900005']
found coincidence [11, 237, '-74.03439835499995;4.743439007000064']
found coincidence [11, 360, '-74.030828822;4.697826132000046']
found coincidence [14, 361, '-74.07602103899995;4.649757037000028']
found coincidence [13, 333, '-74.11672821099995;4.686298769000075']
found coincidence [11, 333, '-74.16399464499993;4.602088556000068']
found coincidence [15, 253, '-74.15139268599995;4.669193']
found coincidence [7, 332, '-74.08071748599998;4.682672459000059']
found coincidence [13, 349, '-74.05677461799998;4.6901699530000664']
found coincidence [15, 303, '-74.145997934;4.618665790000024']
found coincidence [22, 156, '-74.03283528799993;4.703486491000035']
found coincidence [16, 320, '-74.15778814499998;4.619662652000045']
found coincidence [15, 321, '-74.12439190199996;4.58975881300006']
found coincidence [19, 303, '-74.10574602199993;4.593230994000066']
found coincidence [14, 303, '-74.07219668999993;4.652161844000035']
found coincidence [6, 224, '-74.112424107;4.594504512000071']
found coincidence [8, 181, '-74.12440235099997;4.725804679000022']
found coincidence [9, 177, '-74.06795211799994;4.6745092530000525']
found coincidence [7, 235, '-74.06508086799995;4.689219792000074']
found coincidence [10, 247, '-74.13215968799993;4.690306379000049']
found coincidence [12, 248, '-74.04160966099995;4.716501226000048']
found coincidence [19, 279, '-74.04531120699994;4.7605228480000505']
found coincidence [5, 198, '-74.07485845299993;4.7268268820000685']
found coincidence [7, 197, '-74.15919773299998;4.639274698000066']
found coincidence [17, 231, '-74.10151824799993;4.484398980000037']
found coincidence [14, 235, '-74.11577004799993;4.639739296000073']
found coincidence [12, 349, '-74.06625510199996;4.6727108740000745']
found coincidence [17, 250, '-74.08848203499997;4.66018822500007']
found coincidence [20, 239, '-74.04881864699999;4.665144043000055']
found coincidence [12, 236, '-74.10254458699995;4.623963892000064']
found coincidence [16, 318, '-74.03649708099994;4.704735529000062']
found coincidence [21, 304, '-74.12828325399995;4.686998282000047']
found coincidence [15, 309, '-74.17141674699997;4.616851195000038']
found coincidence [16, 217, '-74.11416313599993;4.6152431530000495']
found coincidence [7, 291, '-74.03263139299997;4.708480535000035']
found coincidence [9, 332, '-74.07802099399998;4.654822242000024']
found coincidence [17, 354, '-74.16979920399997;4.622178484000076']
found coincidence [12, 307, '-74.13885431299997;4.5961457770000615']
found coincidence [19, 364, '-74.06539691999996;4.6890456050000475']
found coincidence [13, 348, '-74.08700910599998;4.61705489600007']
found coincidence [10, 208, '-74.12000103599996;4.678822618000027']
found coincidence [21, 321, '-74.11485528599997;4.672155743000077']
found coincidence [6, 260, '-74.07324273999996;4.7156619840000635']
found coincidence [14, 247, '-74.10815965199998;4.586178284000027']
found coincidence [14, 215, '-74.13873114499995;4.69427162100004']
found coincidence [12, 338, '-74.09589555199994;4.6412714530000585']
found coincidence [14, 300, '-74.11109373199997;4.661649461000025']
found coincidence [20, 277, '-74.14147140899995;4.697489906000044']
found coincidence [8, 349, '-74.13700004899994;4.54902813700005']
found coincidence [17, 283, '-74.03263152999993;4.6947241840000515']
found coincidence [19, 237, '-74.18125233599994;4.608618481000065']
found coincidence [5, 249, '-74.10216064499998;4.736896389000037']
found coincidence [8, 317, '-74.09417531999998;4.755782460000034']
found coincidence [15, 314, '-74.09701221599995;4.568453307000027']
found coincidence [8, 239, '-74.05591408699999;4.693876153000076']
found coincidence [8, 239, '-74.04792774099997;4.71152414900007']
found coincidence [12, 237, '-74.05296270299993;4.686136969000074']
found coincidence [10, 248, '-74.02358444199997;4.741288689000044']
found coincidence [13, 246, '-74.05169736399995;4.721583750000036']
found coincidence [23, 253, '-74.15660051899994;4.682698309000045']
CPU times: user 9min 3s, sys: 2.51 s, total: 9min 5s
Wall time: 9min 59s

In [15]:
neg_df = pd.DataFrame.from_records(neg_list)

In [16]:
neg_df

,0,1,2,3,4,5
0,12,318,-74.12178986799995;4.6031063950000535,AV AVENIDA PRIMERA DE MAYO-KR 50A 14,PUENTE ARANDA,1
1,13,44,-74.17893912999993;4.62416029700006,KR 86-CL 53 S 2,BOSA,1
2,17,173,-74.12102002699999;4.721841823000034,CL 80-KR 114 99,ENGATIVA,10
3,9,92,-74.06570572199999;4.599420861000056,AV AVENIDA CIRCUNVALAR-CL 17 02,CANDELARIA,13
4,8,170,-74.09429402399995;4.600073951000071,CL 4B-KR 23A 28,LOS MARTIRES,1
...,...,...,...,...,...,...
33196,12,214,-74.11071803599998;4.708741003000057,CL 80-KR 98A 2,ENGATIVA,1
33197,16,72,-74.07638578699994;4.685922248000054,KR 68-CL 94 02,BARRIOS UNIDOS,1
33198,23,248,-74.06070190099996;4.6780774160000655,KR 30-CL 91 2,BARRIOS UNIDOS,1
33199,15,255,-74.08714144399994;4.6752217400000395,KR 68-CL 67DBIS 2,BARRIOS UNIDOS,1
33200,14,131,-74.08629189699997;4.676853866000044,KR 68-CL 67G 2,BARRIOS UNIDOS,1

In [17]:
neg_df.columns = ['hour', 'day_of_year', 'coords', 'address', 'borough', 'cluster_id']

In [18]:
neg_df['year'] = 2018

In [19]:
neg_df.shape

(33201, 7)

In [20]:
def compose_date(years, months=1, days=1, weeks=None, hours=None, minutes=None,
                 seconds=None, milliseconds=None, microseconds=None, nanoseconds=None):
    years = np.asarray(years) - 1970
    months = np.asarray(months) - 1
    days = np.asarray(days) - 1
    types = ('<M8[Y]', '<m8[M]', '<m8[D]', '<m8[W]', '<m8[h]',
             '<m8[m]', '<m8[s]', '<m8[ms]', '<m8[us]', '<m8[ns]')
    vals = (years, months, days, weeks, hours, minutes, seconds,
            milliseconds, microseconds, nanoseconds)
    return sum(np.asarray(v, dtype=t) for t, v in zip(types, vals)
               if v is not None)


neg_df['timestamp'] = compose_date(neg_df['year'], days=neg_df['day_of_year'], hours=neg_df['hour'], minutes=np.zeros(neg_df.shape[0]), seconds=np.zeros(neg_df.shape[0]))
neg_df['date'] = compose_date(neg_df['year'], days=neg_df['day_of_year'])

In [21]:
neg_df = neg_df.join(neg_df.coords.str.split(';',expand=True))

In [22]:
neg_df.rename(columns={0: "x", 1: "y"}, inplace=True)

In [23]:
neg_df

,hour,day_of_year,coords,address,borough,cluster_id,year,timestamp,date,x,y
0,12,318,-74.12178986799995;4.6031063950000535,AV AVENIDA PRIMERA DE MAYO-KR 50A 14,PUENTE ARANDA,1,2018,2018-11-14 12:00:00,2018-11-14,-74.12178986799995,4.6031063950000535
1,13,44,-74.17893912999993;4.62416029700006,KR 86-CL 53 S 2,BOSA,1,2018,2018-02-13 13:00:00,2018-02-13,-74.17893912999993,4.62416029700006
2,17,173,-74.12102002699999;4.721841823000034,CL 80-KR 114 99,ENGATIVA,10,2018,2018-06-22 17:00:00,2018-06-22,-74.12102002699999,4.721841823000034
3,9,92,-74.06570572199999;4.599420861000056,AV AVENIDA CIRCUNVALAR-CL 17 02,CANDELARIA,13,2018,2018-04-02 09:00:00,2018-04-02,-74.06570572199999,4.599420861000056
4,8,170,-74.09429402399995;4.600073951000071,CL 4B-KR 23A 28,LOS MARTIRES,1,2018,2018-06-19 08:00:00,2018-06-19,-74.09429402399995,4.600073951000071
...,...,...,...,...,...,...,...,...,...,...,...
33196,12,214,-74.11071803599998;4.708741003000057,CL 80-KR 98A 2,ENGATIVA,1,2018,2018-08-02 12:00:00,2018-08-02,-74.11071803599998,4.708741003000057
33197,16,72,-74.07638578699994;4.685922248000054,KR 68-CL 94 02,BARRIOS UNIDOS,1,2018,2018-03-13 16:00:00,2018-03-13,-74.07638578699994,4.685922248000054
33198,23,248,-74.06070190099996;4.6780774160000655,KR 30-CL 91 2,BARRIOS UNIDOS,1,2018,2018-09-05 23:00:00,2018-09-05,-74.06070190099996,4.6780774160000655
33199,15,255,-74.08714144399994;4.6752217400000395,KR 68-CL 67DBIS 2,BARRIOS UNIDOS,1,2018,2018-09-12 15:00:00,2018-09-12,-74.08714144399994,4.6752217400000395
33200,14,131,-74.08629189699997;4.676853866000044,KR 68-CL 67G 2,BARRIOS UNIDOS,1,2018,2018-05-11 14:00:00,2018-05-11,-74.08629189699997,4.676853866000044

In [24]:
neg_df['accident_id'] = ''
neg_df['severity'] = ''
neg_df['accident_type'] = ''
neg_df['severity_numeric'] = ''
neg_df['day_of_week'] = neg_df.timestamp.dt.dayofweek
neg_df['day'] = neg_df.timestamp.dt.day
neg_df['month'] = neg_df.timestamp.dt.month

In [25]:
neg_df.head()

,hour,day_of_year,coords,address,borough,cluster_id,year,timestamp,date,x,y,accident_id,severity,accident_type,severity_numeric,day_of_week,day,month
0,12,318,-74.12178986799995;4.6031063950000535,AV AVENIDA PRIMERA DE MAYO-KR 50A 14,PUENTE ARANDA,1,2018,2018-11-14 12:00:00,2018-11-14,-74.12178986799995,4.6031063950000535,,,,,2,14,11
1,13,44,-74.17893912999993;4.62416029700006,KR 86-CL 53 S 2,BOSA,1,2018,2018-02-13 13:00:00,2018-02-13,-74.17893912999993,4.62416029700006,,,,,1,13,2
2,17,173,-74.12102002699999;4.721841823000034,CL 80-KR 114 99,ENGATIVA,10,2018,2018-06-22 17:00:00,2018-06-22,-74.12102002699999,4.721841823000034,,,,,4,22,6
3,9,92,-74.06570572199999;4.599420861000056,AV AVENIDA CIRCUNVALAR-CL 17 02,CANDELARIA,13,2018,2018-04-02 09:00:00,2018-04-02,-74.06570572199999,4.599420861000056,,,,,0,2,4
4,8,170,-74.09429402399995;4.600073951000071,CL 4B-KR 23A 28,LOS MARTIRES,1,2018,2018-06-19 08:00:00,2018-06-19,-74.09429402399995,4.600073951000071,,,,,1,19,6

In [26]:
accidents.drop(columns=['accident_id', 'month_name'], inplace=True)

In [27]:
accidents_2018 = accidents[accidents.year == 2018]

In [29]:
accidents_2018.timestamp = pd.to_datetime(accidents_2018.timestamp, utc=True).dt.tz_localize(None)

In [30]:
accidents_2018['day'] = accidents_2018.timestamp.dt.day
accidents_2018['day_of_week'] = accidents_2018.timestamp.dt.dayofweek
accidents_2018['day_of_year'] = accidents_2018.timestamp.dt.dayofyear

In [31]:
accidents_2018.head(20)

,x,y,year,address,severity,accident_type,severity_numeric,borough_geo,timestamp,date,hour,month,day,cluster_id,day_of_week,day_of_year
2,-74.121790,4.603106,2018,AV AVENIDA PRIMERA DE MAYO-KR 50A 14,Injury,Crash,8,PUENTE ARANDA,2018-03-25 12:10:00,2018-03-25,12,3,25,1,6,84
9,-74.178939,4.624160,2018,KR 86-CL 53 S 2,Injury,Crash,8,BOSA,2018-02-13 07:45:00,2018-02-13,7,2,13,1,1,44
30,-74.121020,4.721842,2018,CL 80-KR 114 99,Material damage,Crash,1,ENGATIVA,2018-05-02 17:50:00,2018-05-02,17,5,2,10,2,122
36,-74.065706,4.599421,2018,AV AVENIDA CIRCUNVALAR-CL 17 02,Material damage,Crash,1,CANDELARIA,2018-04-26 09:00:00,2018-04-26,9,4,26,13,3,116
51,-74.094294,4.600074,2018,CL 4B-KR 23A 28,Injury,Run over,9,LOS MARTIRES,2018-06-19 12:00:00,2018-06-19,12,6,19,1,1,170
52,-74.079973,4.600711,2018,KR 12-CL 10 49,Material damage,Crash,1,SANTA FE,2018-06-18 14:55:00,2018-06-18,14,6,18,1,0,169
53,-74.069820,4.638032,2018,KR 17-CL 50 02,Injury,Occupant fall,7,TEUSAQUILLO,2018-06-22 10:40:00,2018-06-22,10,6,22,1,4,173
54,-74.077495,4.665175,2018,CL 68-KR 51 02,Material damage,Crash,1,BARRIOS UNIDOS,2018-07-18 10:30:00,2018-07-18,10,7,18,1,2,199
55,-74.179553,4.603938,2018,CL 59-KR 78D S 2,Material damage,Crash,1,BOSA,2018-07-06 07:15:00,2018-07-06,7,7,6,1,4,187
56,-74.058813,4.657149,2018,KR 11-CL 72 2,Material damage,Crash,1,CHAPINERO,2018-07-09 23:30:00,2018-07-09,23,7,9,1,0,190
57,-74.071347,4.669944,2018,AK 30-CL 75 15,Material damage,Crash,1,BARRIOS UNIDOS,2018-06-29 09:44:00,2018-06-29,9,6,29,1,4,180
58,-74.142405,4.630881,2018,CL 6-KR 73B 51,Injury,Crash,8,KENNEDY,2018-06-26 15:17:00,2018-06-26,15,6,26,1,1,177
59,-74.077702,4.656651,2018,AK 30-CL 63F 2,Material damage,Crash,1,BARRIOS UNIDOS,2018-07-13 10:50:00,2018-07-13,10,7,13,1,4,194
60,-74.151820,4.679748,2018,CL 17-KR 111A 2,Material damage,Crash,1,FONTIBON,2018-07-14 14:45:00,2018-07-14,14,7,14,14,5,195
61,-74.160785,4.624531,2018,CL 40C-KR 79F S 02,Injury,Crash,8,KENNEDY,2018-07-04 06:20:00,2018-07-04,6,7,4,1,2,185
62,-74.110179,4.619499,2018,KR 43B-CL 5A 2,Material damage,Crash,1,PUENTE ARANDA,2018-06-14 08:45:00,2018-06-14,8,6,14,18,3,165
63,-74.114180,4.646072,2018,CL 20-KR 68B 31,Material damage,Crash,1,FONTIBON,2018-07-17 11:00:00,2018-07-17,11,7,17,-1,1,198
64,-74.065574,4.637240,2018,KR 13-CL 50 02,Injury,Crash,8,CHAPINERO,2018-07-07 16:20:00,2018-07-07,16,7,7,1,5,188
65,-74.076785,4.602200,2018,KR 10-CL 13 02,Injury,Run over,9,SANTA FE,2018-07-11 20:16:00,2018-07-11,20,7,11,1,2,192
66,-74.138005,4.584156,2018,DG 52A-KR 33 S 02,Injury,Crash,8,TUNJUELITO,2018-06-23 08:00:00,2018-06-23,8,6,23,1,5,174

In [32]:
accidents_2018 = accidents_2018[['x', 'y', 'timestamp', 'date', 'year', 'month',
       'day', 'day_of_year', 'day_of_week', 'hour', 'address', 'severity', 'accident_type',
       'severity_numeric', 'borough_geo','cluster_id']]

In [33]:
accidents_2018.rename(columns={"borough_geo": "borough"}, inplace=True)

In [34]:
accidents_2018['sample_type'] = 1

In [35]:
neg_df = neg_df[['x', 'y', 'timestamp', 'date', 'year', 'month',
       'day', 'day_of_year', 'day_of_week', 'hour', 'address', 'severity', 'accident_type',
       'severity_numeric', 'borough','cluster_id']]

In [36]:
neg_df['sample_type'] = 0

In [38]:
accidents_2018.shape

(33201, 17)

In [39]:
dataset = pd.concat([accidents_2018,neg_df])

In [40]:
dataset

,x,y,timestamp,date,year,month,day,day_of_year,day_of_week,hour,address,severity,accident_type,severity_numeric,borough,cluster_id,sample_type
2,-74.1218,4.60311,2018-03-25 12:10:00,2018-03-25,2018,3,25,84,6,12,AV AVENIDA PRIMERA DE MAYO-KR 50A 14,Injury,Crash,8,PUENTE ARANDA,1,1
9,-74.1789,4.62416,2018-02-13 07:45:00,2018-02-13,2018,2,13,44,1,7,KR 86-CL 53 S 2,Injury,Crash,8,BOSA,1,1
30,-74.121,4.72184,2018-05-02 17:50:00,2018-05-02,2018,5,2,122,2,17,CL 80-KR 114 99,Material damage,Crash,1,ENGATIVA,10,1
36,-74.0657,4.59942,2018-04-26 09:00:00,2018-04-26,2018,4,26,116,3,9,AV AVENIDA CIRCUNVALAR-CL 17 02,Material damage,Crash,1,CANDELARIA,13,1
51,-74.0943,4.60007,2018-06-19 12:00:00,2018-06-19,2018,6,19,170,1,12,CL 4B-KR 23A 28,Injury,Run over,9,LOS MARTIRES,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33196,-74.11071803599998,4.708741003000057,2018-08-02 12:00:00,2018-08-02 00:00:00,2018,8,2,214,3,12,CL 80-KR 98A 2,,,,ENGATIVA,1,0
33197,-74.07638578699994,4.685922248000054,2018-03-13 16:00:00,2018-03-13 00:00:00,2018,3,13,72,1,16,KR 68-CL 94 02,,,,BARRIOS UNIDOS,1,0
33198,-74.06070190099996,4.6780774160000655,2018-09-05 23:00:00,2018-09-05 00:00:00,2018,9,5,248,2,23,KR 30-CL 91 2,,,,BARRIOS UNIDOS,1,0
33199,-74.08714144399994,4.6752217400000395,2018-09-12 15:00:00,2018-09-12 00:00:00,2018,9,12,255,2,15,KR 68-CL 67DBIS 2,,,,BARRIOS UNIDOS,1,0
33200,-74.08629189699997,4.676853866000044,2018-05-11 14:00:00,2018-05-11 00:00:00,2018,5,11,131,4,14,KR 68-CL 67G 2,,,,BARRIOS UNIDOS,1,0

In [41]:
boroughs = pd.read_csv("../data/localidades.csv")

In [42]:
boroughs.borough.unique()

array(['USAQUEN', 'CHAPINERO', 'SANTA FE', 'SAN CRISTOBAL', 'USME',
       'TUNJUELITO', 'BOSA', 'KENNEDY', 'FONTIBON', 'ENGATIVA', 'SUBA',
       'BARRIOS UNIDOS', 'TEUSAQUILLO', 'LOS MARTIRES', 'ANTONIO NARIÃ‘O',
       'PUENTE ARANDA', 'CANDELARIA', 'RAFAEL URIBE URIBE',
       'CIUDAD BOLIVAR', 'SUMAPAZ'], dtype=object)

In [43]:
boroughs.columns

Index(['id', 'borough', 'area_km2', 'population', 'population_density'], dtype='object')

In [44]:
# boroughs.replace({"Tunjuelito": 'TUNJUELITO', "Chapinero":'CHAPINERO', "Kennedy": 'KENNEDY', "UsaquÃ©n": 'USAQUEN', "BarriosUnidos":  'BARRIOS UNIDOS', "CiudadBolÃ­var": 
# 'CIUDAD BOLIVAR', "FontibÃ³n":  'FONTIBON', "PuenteAranda":  'PUENTE ARANDA', "Suba":  'SUBA', "Teusaquillo":
# 'TEUSAQUILLO', "SantaFe":  'SANTA FE', "Bosa":  'BOSA', "SanCristÃ³bal":  'SAN CRISTOBAL', "EngativÃ¡":  'ENGATIVA', "RafaelUribeUribe": 
# 'RAFAEL URIBE URIBE', "AntonioNariÃ±o":  'ANTONIO NARIÃ‘O', "LosMÃ¡rtires":  'LOS MARTIRES', "LaCandelaria":
# 'CANDELARIA', "Usme": 'USME', "Sumapaz":  'SUMAPAZ'}, inplace=True)

In [45]:
# boroughs.drop(columns = ['id'], inplace=True)

In [46]:
dataset = dataset.merge(boroughs, how='left', left_on='borough', right_on='borough')

In [47]:
dataset.head()

,x,y,timestamp,date,year,month,day,day_of_year,day_of_week,hour,...,severity,accident_type,severity_numeric,borough,cluster_id,sample_type,id,area_km2,population,population_density
0,-74.1218,4.60311,2018-03-25 12:10:00,2018-03-25,2018,3,25,84,6,12,...,Injury,Crash,8,PUENTE ARANDA,1,1,16,17.31,258287,14921.25
1,-74.1789,4.62416,2018-02-13 07:45:00,2018-02-13,2018,2,13,44,1,7,...,Injury,Crash,8,BOSA,1,1,7,23.93,673077,28126.91
2,-74.121,4.72184,2018-05-02 17:50:00,2018-05-02,2018,5,2,122,2,17,...,Material damage,Crash,1,ENGATIVA,10,1,10,35.88,887080,24723.52
3,-74.0657,4.59942,2018-04-26 09:00:00,2018-04-26,2018,4,26,116,3,9,...,Material damage,Crash,1,CANDELARIA,13,1,17,2.06,24088,11693.20
4,-74.0943,4.60007,2018-06-19 12:00:00,2018-06-19,2018,6,19,170,1,12,...,Injury,Run over,9,LOS MARTIRES,1,1,14,6.51,99119,15225.65

In [48]:
dataset.rename(columns={"id": "borough_id"}, inplace=True)

In [49]:
weather = pd.read_csv("../data/total.csv")

In [50]:
weather.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'time', 'summary', 'icon',
       'precipIntensity', 'precipProbability', 'temperature',
       'apparentTemperature', 'dewPoint', 'humidity', 'windSpeed',
       'cloudCover', 'uvIndex', 'visibility', 'windBearing', 'location',
       'windGust', 'pressure', 'precipType', 'ozone', 'precipAccumulation'],
      dtype='object')

In [51]:
weather.drop(columns=["Unnamed: 0", "Unnamed: 0.1"], inplace=True)

In [52]:
weather.head()

,time,summary,icon,precipIntensity,precipProbability,temperature,apparentTemperature,dewPoint,humidity,windSpeed,cloudCover,uvIndex,visibility,windBearing,location,windGust,pressure,precipType,ozone,precipAccumulation
0,2014-07-15 05:00:00,Partly Cloudy,partly-cloudy-night,0.0,0.0,10.0,10.00,9.99,1.00,1.02,0.44,0.0,10.003,NaN,bosa,NaN,NaN,NaN,NaN,NaN
1,2014-07-15 06:00:00,Partly Cloudy,partly-cloudy-night,0.0,0.0,9.0,9.00,9.00,1.00,1.02,0.44,0.0,10.003,50.0,bosa,NaN,NaN,NaN,NaN,NaN
2,2014-07-15 07:00:00,Partly Cloudy,partly-cloudy-night,0.0,0.0,9.0,9.00,9.00,1.00,1.02,0.44,0.0,10.003,NaN,bosa,NaN,NaN,NaN,NaN,NaN
3,2014-07-15 08:00:00,Partly Cloudy,partly-cloudy-night,0.0,0.0,10.0,8.46,9.00,0.94,3.09,0.44,0.0,10.003,120.0,bosa,NaN,NaN,NaN,NaN,NaN
4,2014-07-15 09:00:00,Partly Cloudy,partly-cloudy-night,0.0,0.0,9.0,8.46,6.99,0.87,1.55,0.44,0.0,10.003,270.0,bosa,NaN,NaN,NaN,NaN,NaN

In [53]:
dataset['timestamp_floor'] =  dataset.timestamp.dt.round('H')

In [54]:
weather.time = pd.to_datetime(weather.time)

In [55]:
weather.location.unique()

array(['bosa', 'engativa', 'tunjuelito', 'fontibon', 'kennedy',
       'ciudadbolivar', 'la candelaria', 'puente aranda', 'rafael uribe',
       'sumapaz', 'antonio nariÃ±o', 'barrios unidos', 'chapinero',
       'los martires', 'san cristobal', 'santafe', 'suba', 'teusaquillo',
       'usaquen', 'usme'], dtype=object)

In [56]:
weather.replace({"tunjuelito": 'TUNJUELITO', "chapinero":'CHAPINERO', "kennedy": 'KENNEDY', "usaquen": 'USAQUEN', "barrios unidos":  'BARRIOS UNIDOS', "ciudadbolivar": 
'CIUDAD BOLIVAR', "fontibon":  'FONTIBON', "puente aranda":  'PUENTE ARANDA', "suba":  'SUBA', "teusaquillo":
'TEUSAQUILLO', "santafe":  'SANTA FE', "bosa":  'BOSA', "san cristobal":  'SAN CRISTOBAL', "engativa":  'ENGATIVA', "rafael uribe": 
'RAFAEL URIBE URIBE', "antonio nariÃ±o":  'ANTONIO NARIÃ‘O', "los martires":  'LOS MARTIRES', "la candelaria":
'CANDELARIA', "usme": 'USME', "sumapaz":  'SUMAPAZ'}, inplace=True)

In [57]:
dataset = dataset.merge(weather, left_on=['borough' , 'timestamp_floor'], right_on=['location', 'time'])

In [58]:
dataset.columns

Index(['x', 'y', 'timestamp', 'date', 'year', 'month', 'day', 'day_of_year',
       'day_of_week', 'hour', 'address', 'severity', 'accident_type',
       'severity_numeric', 'borough', 'cluster_id', 'sample_type',
       'borough_id', 'area_km2', 'population', 'population_density',
       'timestamp_floor', 'time', 'summary', 'icon', 'precipIntensity',
       'precipProbability', 'temperature', 'apparentTemperature', 'dewPoint',
       'humidity', 'windSpeed', 'cloudCover', 'uvIndex', 'visibility',
       'windBearing', 'location', 'windGust', 'pressure', 'precipType',
       'ozone', 'precipAccumulation'],
      dtype='object')

In [59]:
dataset.drop(columns = ['timestamp_floor', 'location'], inplace=True)

In [60]:
dataset.rename(columns={"time": "timestamp_darksky"}, inplace=True)

In [61]:
dataset.to_csv('../data/dataset_2018_with_negatives.csv', index=None)

In [62]:
dataset

,x,y,timestamp,date,year,month,day,day_of_year,day_of_week,hour,...,windSpeed,cloudCover,uvIndex,visibility,windBearing,windGust,pressure,precipType,ozone,precipAccumulation
0,-74.1218,4.60311,2018-03-25 12:10:00,2018-03-25,2018,3,25,84,6,12,...,2.09,0.44,0.0,10.003,30.0,NaN,NaN,NaN,NaN,NaN
1,-74.10631202499997,4.6273950890000615,2018-03-25 12:00:00,2018-03-25 00:00:00,2018,3,25,84,6,12,...,2.09,0.44,0.0,10.003,30.0,NaN,NaN,NaN,NaN,NaN
2,-74.1789,4.62416,2018-02-13 07:45:00,2018-02-13,2018,2,13,44,1,7,...,1.02,0.44,0.0,10.003,NaN,NaN,NaN,NaN,NaN,NaN
3,-74.121,4.72184,2018-05-02 17:50:00,2018-05-02,2018,5,2,122,2,17,...,5.09,0.75,7.0,10.003,150.0,NaN,NaN,NaN,NaN,NaN
4,-74.1047,4.65641,2018-05-02 18:19:00,2018-05-02,2018,5,2,122,2,18,...,5.09,0.75,7.0,10.003,150.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66217,-74.10435691599997,4.652615037000032,2018-03-11 20:00:00,2018-03-11 00:00:00,2018,3,11,70,6,20,...,5.09,0.44,5.0,10.003,120.0,NaN,NaN,NaN,NaN,NaN
66218,-74.10566061099996,4.705324347000044,2018-12-04 22:00:00,2018-12-04 00:00:00,2018,12,4,338,1,22,...,1.77,0.88,0.0,16.093,307.0,3.15,1011.5,rain,241.6,NaN
66219,-74.06577121299993,4.755576805000032,2018-09-15 13:00:00,2018-09-15 00:00:00,2018,9,15,258,5,13,...,1.05,0.90,3.0,14.669,58.0,1.62,1015.7,rain,269.1,NaN
66220,-74.06070190099996,4.6780774160000655,2018-09-05 23:00:00,2018-09-05 00:00:00,2018,9,5,248,2,23,...,1.85,0.90,0.0,11.843,162.0,3.25,1014.3,rain,261.2,NaN
66221,-74.08629189699997,4.676853866000044,2018-05-11 14:00:00,2018-05-11 00:00:00,2018,5,11,131,4,14,...,2.60,0.44,5.0,10.003,30.0,NaN,NaN,NaN,NaN,NaN